/* This line is importing the font "Roboto". DO NOT change line 2*/
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1Mu51xIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
/* Below this line is where you will start your work */
/* It is important to note, you will not be writing any CSS in this file*/
.header {
  width: 100%;
  height: 75px;
  background-color: #388E3C;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 3;
}
.header h1 {
  margin: 0;
  font-size: 48px;
}
.articles {
  margin-top: 95px;
}
.article {
  margin: 20px 10%;
  padding: 0 20px 25px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: white;
  position: relative;
  max-height: 75px;
  overflow: hidden;
  box-shadow: 2px 2px 2px lightgrey;
  transition: max-height 1s;
  transition-timing-function: ease-out;
}
.article h2 {
  font-size: 28px;
  padding: 0;
  margin: 15px 0 0;
}
.article .date {
  margin: 0;
  font-size: 14px;
}
.article .close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.article .expandButton {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 12px;
  color: grey;
  cursor: pointer;
  transform: translate(-50%);
  background-color: white;
}
.article-open {
  max-height: 800px;
}
.menu-button {
  position: absolute;
  left: 20px;
  cursor: pointer;
}
.new-button {
  position: absolute;
  right: 20px;
  cursor: pointer;
  width: 48px;
  height: 48px;
}
.header {
  height: 10vh;
}
.menu {
  position: fixed;
  top: 10vh;
  left: -200px;
  width: 200px;
  height: 90vh;
  /* This give the height 100% of the screen or, '100% of View Height' */
  background-color: rgba(129, 199, 132, 0.85);
  border: none;
  z-index: 2;
  /* This set the layer level of the element, it has precendence over initial level of 1*/
  transition: left 0.6s;
  transition-timing-function: ease-out;
}
.menu ul {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
.menu ul li {
  list-style-type: none;
  font-size: 24px;
  text-align: center;
  text-shadow: 0 0 5px #888;
}
.menu--open {
  left: 0;
}
.form {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
}
.form.toggleOn {
  display: block;
}
.form form {
  height: 50vh;
  width: 50%;
  left: 25%;
  top: 25vh;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 15px black;
  border-radius: 10px;
  background-color: white;
  padding: 50px 20px;
}
.form form div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.form form div input {
  width: 70%;
}
.form form input#submit {
  width: 25%;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  background-color: #fffef7;
  height: 100%;
  width: 100%;
}
