.menu-button {
  position: absolute;
  left: 20px;
  cursor: pointer;
}
.header {
  height: 10vh;
}
.menu {
  display: none;
  position: fixed;
  top: 10vh;
  left: 0;
  width: 200px;
  height: 90vh;
  /* This give the height 100% of the screen or, '100% of View Height' */
  background-color: rgba(129, 199, 132, 0.85);
  border: none;
  z-index: 2;
  /* This set the layer level of the element, it has precendence over initial level of 1*/
}
.menu ul {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  background-color: red;
}
.menu ul li {
  list-style-type: none;
  font-size: 24px;
  text-align: center;
  text-shadow: 0 0 5px #888;
}
.menu--open {
  display: block;
}
